$primary-color: rgb(226, 13, 10);
$secondary-color: rgb(94, 9, 4);
$tertiary-color: rgba(240, 112, 115, 0.681);
$font-family:  Arial, Helvetica, sans-serif;
$font-family2: Verdana, Geneva, Tahoma, sans-serif;
$border: 1px solid grey;
$border-radius: 3px;
$Shadow-Box: -10px 5px 5px rgb(77, 76, 76);
$font-size: 18px;